body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #45a049;
}

header {
    background-color: #4CAF50;
    color: #4CAF50;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

h1 {
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Чередующиеся строки */
}

tr:hover {
    background-color: #e0e0e0; /* Подсветка строки при наведении */
}

.pagination {
    margin: 20px 0;
    text-align: center; /* Центрирование пагинации */
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #4CAF50; /* Цвет ссылок пагинации */
    font-weight: bold; /* Выделение текста */
}

.pagination a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.pagination strong {
    margin: 0 5px;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

form label {
    margin-right: 10px;
}

input[type="text"], input[type="number"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Цвет кнопки при наведении */
}
