{% extends 'base.html' %}  <!-- Расширяем основной шаблон base.html -->

{% block content %}
    <!-- Основной контент -->
    <div class="content">
        <h1>О проекте</h1>
        <p>Наш проект предназначен для управления клиентами и паспортными данными. Мы стремимся предоставить простое и удобное решение для учета и анализа информации.</p>
        <h2>Разработчики</h2>
        <p>Данный проект был разработан нашей командой с целью улучшения процессов управления данными. Мы заботимся о безопасности и эффективности работы.</p>
        <p>Главный разработчик: Sent1nelX</p>
        <p>И все остальное тоже я сам XD</p>
    </div>
{% endblock %}
